/* ========== Do Not Touch In Css Start ========== */

body{
    margin:0px; 
    padding:0px; 
    background:#fff; 
    font-size:14px !important;
    overflow-x:hidden;
    color:#333;
    font-family: 'Exo 2', sans-serif;
}

p{
    margin:0px!important; 
    padding:0px!important; 
    line-height:27px; 
    font-size:16px; 
    color:#333; 
    font-family: 'Open Sans', sans-serif;
}

a,a:focus,a:hover{
    outline:none;
    text-decoration: none;
    transition: all 0.5s ease;
}

ul {
    list-style:none; 
    padding:0px; 
    margin:0px;
}

li {
    list-style:none;
}

.space0   {    margin-top: 0px  !important;   }
.space5   {    margin-top: 5px  !important;   }
.space10  {    margin-top: 10px  !important;  }
.space20  {    margin-top: 20px  !important;  }
.space25  {    margin-top: 25px  !important;  }
.space30  {    margin-top: 30px  !important;  }
.space40  {    margin-top: 40px  !important;  }
.space50  {    margin-top: 50px  !important;  }
.space60  {    margin-top: 60px  !important;  }
.space70  {    margin-top: 70px  !important;  }
.space80  {    margin-top: 80px  !important;  }
.space90  {    margin-top: 90px  !important;  }
.space100 {    margin-top: 100px !important;  }

.padding-left-0  {  padding-left: 0 !important;  }
.padding-right-0 {  padding-right: 0 !important; }


/* ==========  header css start ========== */

.preheader{
    background-color: #323150;
    border-bottom: 1px solid #404054;
}

.preheader a{
    color: #fff;
    display: block;
}

.preheader .social li:hover{
    background-color: #e01a22;
}

.preheader .social li {
    padding: 15px 10px;
    width: 50px;
    background: #282840;
    text-align: center;
    font-size: 18px;
    transition: all 0.5s ease;
}

.preheader ul.pull-right>li{
    padding: 10px;
}

.preheader ul.pull-right >li:last-child {
    padding: 18px 15px;
    background: #282840;
    margin-left: 10px;
}

.notify-drop,.notify-drop li,#first-slider .main-container{
    padding: 0;
}

.notify-drop{
    right: 0 !important;
    left: auto;
}

.notify-drop a:hover{
    background-color: #282840 !important;
    color: #fff !important;
}

.notify-drop a{
    padding:10px !important;
}

.preheader ul.pull-right>li>a:hover {
    color: #a29e9e;
}

.main-menu{
    background-color: #282840;
    padding: 15px 0;
}

.main-menu .navbar{
    background-color: transparent;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

a.navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
    color: #777;
}

ul.nav.navbar-nav.navbar-right li{
    padding: 0 5px;
}

ul.nav.navbar-nav.navbar-right li span,
.footer h4 span{
    padding-right: 5px;
}

ul.nav.navbar-nav.navbar-right a,
.copyright p{
    color: #fff;
}

ul.nav.navbar-nav.navbar-right a:hover {
    background-color: #e01a22;
}

.footer{
    background: #1e202f;
    padding: 20px 0;
}

.footer ul{
    margin-left: 25px;
}

.footer ul li a,
.footer p{
    color: #fff;
    line-height: 24px;
    font-family: 'Open Sans';
}

.footer h4 {
    color: #a29e9e;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans';
}

.copyright{
    background: #282840;
    padding: 15px 0;
}

.footer ul li {
    padding: 5px 0;
}

#first-slider .carousel-indicators {
    bottom: 0;
}

#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
    background-image: none;
}

#first-slider .carousel .item {
    min-height: 425px; 
    height: 100%;
    width:100%;
}

/*.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#first-slider h3{
    animation-delay: 1s;
}

#first-slider h4 {
    animation-delay: 2s;
}

#first-slider h2 {
    animation-delay: 3s;
}

#first-slider h1 {
    text-align: center;  
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

#first-slider .p {
    padding-top: 125px;
    text-align: center;
}

#first-slider .p a {
    text-decoration: underline;
}

#first-slider .slide1 h3, #first-slider .slide2 h3,
#first-slider .slide1 h4,#first-slider .slide2 h4{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}

#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}*/

#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}

#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}

.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

/********************************/
/*       Slides backgrounds     */
/********************************/

#first-slider .slide1 {
    background-image: url(../img/sports_predictions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#first-slider .slide2 {
    background-image: url(../img/165431275.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 85%;
}

#first-slider .slide3 {
    background-image: url(../img/MastereignMultiSports.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login,.register {
    background-color: #323150;
    padding: 80px 0;
    background: url(../img/1.jpg);
    background-size: cover;
    background-position: 11% 60%;
}

.login_form,.register_form{
    background-color: #fff;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.login_form h3,.register_form h3{
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.login_form .form-control,.register_form .form-control{
    border-radius: 0;
    height: 45px;
}

.login_btn,.create_acc{
    background-color: #323150;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease-in;
    padding: 15px;
}

.login_btn:hover,.create_acc:hover  {
    border-color: #323150;
    color: #323150;
    background-color: transparent;
}


/*===========*/

.dashboard{
    padding: 40px 0;
}

.dashboard .col-md-3 .media{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.dashboard .media-left,
.dashboard .media-body{
    vertical-align: middle;
}

.dashboard .media-body h4{
    font-size: 16px;
}

.dashboard .media-body p{
    font-size: 12px;
    line-height: 16px;
}

.dashboard .media-body p a{
    color: #23527c;
}

.dashboard .media-body h4 a{
    color: #000;
}

.upcoming-events h4 {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-bottom: 20px;
}

.upcoming-events h4 span{
    padding-right: 5px;
}

.no-event-block {
    background-color: #f7f7f7;
    padding: 15px !important;
    font-size: 14px;
}

.dashboard h3{
    margin-top: 5px;
}

.create-team-btn {
    background-color: #282840;
    border: 1px solid #282840;
    transition: all 0.5s ease-in;
    font-family: 'Open Sans';
}

.create-team-btn:hover {
    background-color:#e01a22;
    border-color: #e01a22;
}

.dashboard .thumbnail{
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.dashboard .thumbnail p{
    padding: 15px 0 !important;
}

.dashboard .thumbnail .caption{
    background: #f7f7f7;
    font-family: 'Open Sans';
    padding: 20px 10px;
}

.modal .register_form {
    width: 100%;
}

h3.activity-title span{
    padding-right: 10px;
}

.activity-block {
    margin: 30px 0;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 2px 2px 5px 1px #ccc;
}

.activity-block p{
    margin: 10px 0 !important;
    font-size: 14px;
}

.activity-block h6 {
    color: #1e202f;
}

.view_team .thumbnail h5{
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
}

.view_team .thumbnail .dropdown-menu,
.gallery-block .dropdown-menu,
.sync-dropdown .dropdown-menu{
    left: auto;
    right: 0;
}

.member-block {
    border: 1px solid #ddd;
}

.member-block h3,.gallery-block h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
    margin-left: 15px;
}

.dashboard.view_team .col-md-3 .media {
    border-bottom: none;
    margin: 0;
    padding: 0;   
}

.member-block img{
    width: 40px;
}

.dashboard.view_team .col-md-3 .media a{
    display: block;
    padding: 15px;
    color: #000;
}

.dashboard.view_team .col-md-3 .media a:hover{
    background-color: #e6e6e6;
}

.dashboard.view_team .col-md-3 .media-heading span{
    font-size: 12px;
}

.team-calender .dropdown{
    margin-top: 14px;
    margin-right: 15px;
}

.event-date{
    border-top:1px solid #ddd; 
}

.event-date h3{
    margin-bottom: 10px;
}

.event-date h6{
    margin-left: 15px;
    margin-bottom: 20px;
    color: #7d7777;
    font-family: 'Open Sans';
}

.spacer{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 30px;
}

.next-schedule{
    padding: 5px 15px;
}

.next-schedule h5 span{
    color: #7d7777;
    padding-left: 10px;
}

p.year-date{
    font-size: 14px;
    color: #7d7777;
    margin: 25px 0 !important;
}

.gallery-block{
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.stat-block .btn-group.m-0{
    margin: 0;
}

.gallery-block .btn-group{
    margin-top: 14px;
    margin-right: 15px;
}

.demo-droppable {
    cursor: pointer;
    width: 100%;
    background: transparent;
    color: #aaa;
    padding: 10px 0;
    text-align: center;
    height: 150px;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    margin: 0 auto;
    border: 2px dashed #aaa;
}

.upload-file{
    padding: 0 15px;
}

.upload-file h2{
    font-size: 24px;
}

.stat-block .media img{
    width: 30px;
}

.stat-block .media-left,
.dashboard.event-view .media-left, 
.dashboard.event-view .media-body{
    vertical-align: top;
}

.stat-block .media{
    padding: 0 15px;
    margin-bottom: 20px;
}

.dashboard .stat-block .media-body h4 {
    font-size: 14px;
}

.stat-block .progress-bar {
    font-size: 10px;
    line-height: 15px;
}

.stat-block .progress {
    height: 15px;
    margin-bottom: 0px;
}

.team-attendance-btn{
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tab {
    float: left;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 30%;
    border-right: none;
}

.tab button {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.tab button.active,
.tab button:hover {
    background-color: #282840;
    color: #fff;
}

.tabcontent {
    float: left;
    padding: 20px 15px;
    width: 70%;
    border: 1px solid #ddd;
    height: auto;
    display: none;
    min-height: 202px;
}

.event-view .nav-tabs{
    border: none;
    margin-bottom: 10px;
}

.event-view .nav-tabs a{
    color: #282840;
    border: 1px solid #282840;
}

.event-view .nav-tabs>li.active>a, 
.event-view .nav-tabs>li.active>a:focus, 
.event-view .nav-tabs>li.active>a:hover,
.event-view .nav-tabs>li>a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #282840;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.empty-block {
    border: 2px dashed #ccc;
    font-size: 24px;
    padding: 60px 15px;
    text-align: center;
}

.event-view .activity-block {
    margin: 0; 
    border: none; 
    background-color: #f3eeee;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow:none; 
}

.event-view .activity-block:last-child{
    margin-bottom: 0;
}

.event-view .activity-block p {
    font-size: 24px;
    margin: 5px 0 !important;
}

.dashboard .tabcontent h3{
    margin-bottom: 30px;
}

.match-info td>i{
    display: inline-block;
    width: 20px;
    text-align: center;
}

li.success-response {
    color: #449444;
}

li.warning-response {
    color:#d6514e;
}

li.question-response {
    color: #7d7777;
}

.dashboard .tabcontent h3 a{
    color: #000;
    text-transform: uppercase;
}

.btn-blue{
    background-color: #282840;
    border: 1px solid #282840;
    color: #fff;
    border-radius: 0;
    padding: 10px 20px;
    transition: all 0.5s ease-in;
}

.btn-blue:hover{
    color: #282840;
    border: 1px solid #282840;
    background-color:transparent;
}

.btn-transparent{
    background-color: transparent;
    border: 1px solid #282840;
    color: #282840;
    border-radius: 0;
    padding: 10px 20px;
    transition: all 0.5s ease-in;
}

.btn-transparent:hover{
    border: 1px solid #282840;
    background-color: #282840;
    color: #fff;
}

.dashboard .tabcontent .btn-group .btn+.btn{
    margin-left: 15px;
}

.fc-row.fc-widget-header th{
    background-color: #282840;
    padding: 10px 0;
    color: #fff;
    font-weight: 100;
}

.fc-row .fc-content-skeleton td a, 
.fc-row .fc-helper-skeleton td a{
    color: #000;
}

.img-gallery img{
    position: relative;
    transition: all 0.8s linear;
}

.img-gallery:hover img {
    transform: scale(1.5);
}

.img-gallery {
    display: block;
    height: 172px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.gallery .demo-droppable {
    margin-bottom: 40px !important;
    margin-top: 0 !important;
}

.member-img {
    padding: 5px;
    border: 1px solid #ccc;
}

.member-profile h4.name{
    margin-bottom: 0;
    margin-top: 15px;
}

.player-info h2{
    margin-top: 0;
}

.player-info h2 span{
    font-size: 16px;
}